@font-face {
  font-family: "Neue Leiden";
  src: url("/fonts/NeueLeiden-Bold.eot");
  src: url("/fonts/NeueLeiden-Bold.eot?#iefix") format("embedded-opentype"),
    url("/fonts/NeueLeiden-Bold.woff2") format("woff2"),
    url("/fonts/NeueLeiden-Bold.woff") format("woff"),
    url("/fonts/NeueLeiden-Bold.ttf") format("truetype"),
    url("/fonts/NeueLeiden-Bold.svg#NeueLeiden-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Leiden";
  src: url("/fonts/NeueLeiden-Regular.eot");
  src: url("/fonts/NeueLeiden-Regular.eot?#iefix") format("embedded-opentype"),
    url("/fonts/NeueLeiden-Regular.woff2") format("woff2"),
    url("/fonts/NeueLeiden-Regular.woff") format("woff"),
    url("/fonts/NeueLeiden-Regular.ttf") format("truetype"),
    url("/fonts/NeueLeiden-Regular.svg#NeueLeiden-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Leiden";
  src: url("/fonts/NeueLeiden-Medium.eot");
  src: url("/fonts/NeueLeiden-Medium.eot?#iefix") format("embedded-opentype"),
    url("/fonts/NeueLeiden-Medium.woff2") format("woff2"),
    url("/fonts/NeueLeiden-Medium.woff") format("woff"),
    url("/fonts/NeueLeiden-Medium.ttf") format("truetype"),
    url("/fonts/NeueLeiden-Medium.svg#NeueLeiden-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Leiden";
  src: url("/fonts/NeueLeiden-Light.eot");
  src: url("/fonts/NeueLeiden-Light.eot?#iefix") format("embedded-opentype"),
    url("/fonts/NeueLeiden-Light.woff2") format("woff2"),
    url("/fonts/NeueLeiden-Light.woff") format("woff"),
    url("/fonts/NeueLeiden-Light.ttf") format("truetype"),
    url("/fonts/NeueLeiden-Light.svg#NeueLeiden-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Leiden";
  src: url("/fonts/NeueLeiden-SemiBold.eot");
  src: url("/fonts/NeueLeiden-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("/fonts/NeueLeiden-SemiBold.woff2") format("woff2"),
    url("/fonts/NeueLeiden-SemiBold.woff") format("woff"),
    url("/fonts/NeueLeiden-SemiBold.ttf") format("truetype"),
    url("/fonts/NeueLeiden-SemiBold.svg#NeueLeiden-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Leiden";
  src: url("/fonts/NeueLeiden-ExtraLight.eot");
  src: url("/fonts/NeueLeiden-ExtraLight.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/NeueLeiden-ExtraLight.woff2") format("woff2"),
    url("/fonts/NeueLeiden-ExtraLight.woff") format("woff"),
    url("/fonts/NeueLeiden-ExtraLight.ttf") format("truetype"),
    url("/fonts/NeueLeiden-ExtraLight.svg#NeueLeiden-ExtraLight") format("svg");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Leiden";
  src: url("/fonts/NeueLeiden-Thin.eot");
  src: url("/fonts/NeueLeiden-Thin.eot?#iefix") format("embedded-opentype"),
    url("/fonts/NeueLeiden-Thin.woff2") format("woff2"),
    url("/fonts/NeueLeiden-Thin.woff") format("woff"),
    url("/fonts/NeueLeiden-Thin.ttf") format("truetype"),
    url("/fonts/NeueLeiden-Thin.svg#NeueLeiden-Thin") format("svg");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Remark";
  src: url("/fonts/Remark-ExtraBold_Italic.eot");
  src: url("/fonts/Remark-ExtraBold_Italic.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/Remark-ExtraBold_Italic.woff2") format("woff2"),
    url("/fonts/Remark-ExtraBold_Italic.woff") format("woff"),
    url("/fonts/Remark-ExtraBold_Italic.ttf") format("truetype"),
    url("/fonts/Remark-ExtraBold_Italic.svg#Remark-ExtraBold_Italic")
      format("svg");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Remark";
  src: url("/fonts/Remark-Bold_Italic.eot");
  src: url("/fonts/Remark-Bold_Italic.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Remark-Bold_Italic.woff2") format("woff2"),
    url("/fonts/Remark-Bold_Italic.woff") format("woff"),
    url("/fonts/Remark-Bold_Italic.ttf") format("truetype"),
    url("/fonts/Remark-Bold_Italic.svg#Remark-Bold_Italic") format("svg");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Remark Heavy";
  src: url("/fonts/Remark-Heavy_Italic.eot");
  src: url("/fonts/Remark-Heavy_Italic.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Remark-Heavy_Italic.woff2") format("woff2"),
    url("/fonts/Remark-Heavy_Italic.woff") format("woff"),
    url("/fonts/Remark-Heavy_Italic.ttf") format("truetype"),
    url("/fonts/Remark-Heavy_Italic.svg#Remark-Heavy_Italic") format("svg");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Remark";
  src: url("/fonts/Remark-Light_Italic.eot");
  src: url("/fonts/Remark-Light_Italic.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Remark-Light_Italic.woff2") format("woff2"),
    url("/fonts/Remark-Light_Italic.woff") format("woff"),
    url("/fonts/Remark-Light_Italic.ttf") format("truetype"),
    url("/fonts/Remark-Light_Italic.svg#Remark-Light_Italic") format("svg");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Remark";
  src: url("/fonts/Remark-Medium_Italic.eot");
  src: url("/fonts/Remark-Medium_Italic.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Remark-Medium_Italic.woff2") format("woff2"),
    url("/fonts/Remark-Medium_Italic.woff") format("woff"),
    url("/fonts/Remark-Medium_Italic.ttf") format("truetype"),
    url("/fonts/Remark-Medium_Italic.svg#Remark-Medium_Italic") format("svg");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Remark";
  src: url("/fonts/Remark-ExtraLight_Italic.eot");
  src: url("/fonts/Remark-ExtraLight_Italic.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/Remark-ExtraLight_Italic.woff2") format("woff2"),
    url("/fonts/Remark-ExtraLight_Italic.woff") format("woff"),
    url("/fonts/Remark-ExtraLight_Italic.ttf") format("truetype"),
    url("/fonts/Remark-ExtraLight_Italic.svg#Remark-ExtraLight_Italic")
      format("svg");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Remark";
  src: url("/fonts/Remark-SemiBold_Italic.eot");
  src: url("/fonts/Remark-SemiBold_Italic.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/Remark-SemiBold_Italic.woff2") format("woff2"),
    url("/fonts/Remark-SemiBold_Italic.woff") format("woff"),
    url("/fonts/Remark-SemiBold_Italic.ttf") format("truetype"),
    url("/fonts/Remark-SemiBold_Italic.svg#Remark-SemiBold_Italic")
      format("svg");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Remark";
  src: url("/fonts/Remark-Regular_Italic.eot");
  src: url("/fonts/Remark-Regular_Italic.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/Remark-Regular_Italic.woff2") format("woff2"),
    url("/fonts/Remark-Regular_Italic.woff") format("woff"),
    url("/fonts/Remark-Regular_Italic.ttf") format("truetype"),
    url("/fonts/Remark-Regular_Italic.svg#Remark-Regular_Italic") format("svg");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Remark";
  src: url("/fonts/Remark-ExtraBold.eot");
  src: url("/fonts/Remark-ExtraBold.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Remark-ExtraBold.woff2") format("woff2"),
    url("/fonts/Remark-ExtraBold.woff") format("woff"),
    url("/fonts/Remark-ExtraBold.ttf") format("truetype"),
    url("/fonts/Remark-ExtraBold.svg#Remark-ExtraBold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Remark";
  src: url("/fonts/Remark-Light.eot");
  src: url("/fonts/Remark-Light.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Remark-Light.woff2") format("woff2"),
    url("/fonts/Remark-Light.woff") format("woff"),
    url("/fonts/Remark-Light.ttf") format("truetype"),
    url("/fonts/Remark-Light.svg#Remark-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Remark";
  src: url("/fonts/Remark-ExtraLight.eot");
  src: url("/fonts/Remark-ExtraLight.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Remark-ExtraLight.woff2") format("woff2"),
    url("/fonts/Remark-ExtraLight.woff") format("woff"),
    url("/fonts/Remark-ExtraLight.ttf") format("truetype"),
    url("/fonts/Remark-ExtraLight.svg#Remark-ExtraLight") format("svg");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Remark";
  src: url("/fonts/Remark-Thin_Italic.eot");
  src: url("/fonts/Remark-Thin_Italic.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Remark-Thin_Italic.woff2") format("woff2"),
    url("/fonts/Remark-Thin_Italic.woff") format("woff"),
    url("/fonts/Remark-Thin_Italic.ttf") format("truetype"),
    url("/fonts/Remark-Thin_Italic.svg#Remark-Thin_Italic") format("svg");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Remark";
  src: url("/fonts/Remark-Bold.eot");
  src: url("/fonts/Remark-Bold.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Remark-Bold.woff2") format("woff2"),
    url("/fonts/Remark-Bold.woff") format("woff"),
    url("/fonts/Remark-Bold.ttf") format("truetype"),
    url("/fonts/Remark-Bold.svg#Remark-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Remark";
  src: url("/fonts/Remark-Heavy.eot");
  src: url("/fonts/Remark-Heavy.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Remark-Heavy.woff2") format("woff2"),
    url("/fonts/Remark-Heavy.woff") format("woff"),
    url("/fonts/Remark-Heavy.ttf") format("truetype"),
    url("/fonts/Remark-Heavy.svg#Remark-Heavy") format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Remark";
  src: url("/fonts/Remark-Medium.eot");
  src: url("/fonts/Remark-Medium.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Remark-Medium.woff2") format("woff2"),
    url("/fonts/Remark-Medium.woff") format("woff"),
    url("/fonts/Remark-Medium.ttf") format("truetype"),
    url("/fonts/Remark-Medium.svg#Remark-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Remark";
  src: url("/fonts/Remark-SemiBold.eot");
  src: url("/fonts/Remark-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Remark-SemiBold.woff2") format("woff2"),
    url("/fonts/Remark-SemiBold.woff") format("woff"),
    url("/fonts/Remark-SemiBold.ttf") format("truetype"),
    url("/fonts/Remark-SemiBold.svg#Remark-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Remark";
  src: url("/fonts/Remark-Thin.eot");
  src: url("/fonts/Remark-Thin.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Remark-Thin.woff2") format("woff2"),
    url("/fonts/Remark-Thin.woff") format("woff"),
    url("/fonts/Remark-Thin.ttf") format("truetype"),
    url("/fonts/Remark-Thin.svg#Remark-Thin") format("svg");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Remark";
  src: url("/fonts/Remark-Regular.eot");
  src: url("/fonts/Remark-Regular.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Remark-Regular.woff2") format("woff2"),
    url("/fonts/Remark-Regular.woff") format("woff"),
    url("/fonts/Remark-Regular.ttf") format("truetype"),
    url("/fonts/Remark-Regular.svg#Remark-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
